

.container {
    margin: 0 auto;
    width: 960px;
}

body {
    background: #2b86ee ;
    font-family: 'Girassol', cursive;
    line-height: 1.6;
}

.place {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-color: #CCC #999 #999 #ccc;
    border: 1px solid rgb(8, 8, 8);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(107, 106, 106);
}

.place h2 {
    border-bottom: 1px dashed #020202;
    margin: 0;
}

.place a {
    color: #2C88A7;
    font-weight: bold;
}

.place {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 10px 10px;
    padding: 2px;
}

.place img {
    border: 1px solid #0d0e0d;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

h1 a {
    color: #0c0c0c;
    text-decoration: none;
}

h1 a:hover {
    background-color: #9fa09d;
    color: #FFF;
}

.clear {
    clear: both;
}

footer {
    margin: 0px 0px 0px 10px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #020202;
    width: 960px;   
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(107, 106, 106) ;
    font-family: 'Girassol', cursive;
    
}

aside {
    margin-top: 10px;
    background-color: #FFFBE4;
    border: 1px solid #000000;
    float: right;
    padding: 10px;
    width: 260px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(107, 106, 106);
    font-family: 'Girassol', cursive;
}
aside h3 {
    font-size: 14px;
    margin-top: 0;
}
aside ol {
    font-size: 12px;
}

article {
    float: left;
    width: 660px;
}

header h1 {
    margin: 0px 0px 0px 10px;
    font-size: 35px;
    text-align: center;
    border: 1px solid #0e0e0d;
    width: 950px;
    position: relative;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(107, 106, 106);
    font-family:'Itim', cursive, sans-serif;
}